<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proa Web</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>


<body>


<header>

    <div class="logo">

        <img src="{{ url_for('static', filename='logop.jpg') }}" alt="Logo PROA">


        <div class="texto-logo">

            <h2>PROA</h2>

            <span>Despeñaderos</span>

        </div>

    </div>



    <nav>

        <ul>

            <li>
                <a href="/">Inicio</a>
            </li>


            <li>
                <a href="/institucional">Institucional</a>
            </li>


            <li>
                <a href="/paicor">PAICOR</a>
            </li>


            <li>
                <a href="/proyectos">Proyectos</a>
            </li>


            <li>
                <a href="/contacto">Contacto</a>
            </li>


        </ul>

    </nav>



    <h2>Proyectos</h2>


</header>



    <!-- =========================
         CONTENIDO
    ========================== -->

    <main class="proyectos">

        <div class="titulo-proyectos">

            <h1>Proyectos de Proa Despeñaderos</h1>

            <p>
                Conocé los sistemas desarrollados por los estudiantes
                de nuestra institución.
            </p>

        </div>



        <!-- =========================
             CARDS
        ========================== -->

        <section class="contenedor-cards">


            <!-- BANCO NEXT -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='bicispot.jpg') }}"
                         alt="Proyecto Bicispot">

                </div>


                <div class="contenido-card">

                    <h2>BiciSpot</h2>
<p class="anio-proyecto">2025</p>

                    <h3>Desarrolladores y Profesor a cargo:</h3>
                    

                    <p class="desarrolladores">
                       Julieta Escobar · Maximo Pagan · Tiago Farias · Agustina Arregui · Octavio Sanchez · Tiziando Sandivarez.
                       <br>
                       Paola Lombardi.
                    </p>


                    <p class="descripcion">

                        El proyecto se baso en generar un espacio que quede en el colegio y que sea de uso 
                        para la institución, ademsa de para la comunidad.
                        Se genero un espacio para que estudiantes y personas cercanas a la manzana del 
                        cole para que puedan reparar sus bicicletas, como: inflar bicicletas, con un comprensor, 
                        sacar la rueda y entre otras cosas que sepuedn hacer con las herramientas que estan en la "CLINICA DE BICIS".

                    </p>


                </div>

            </article>



            <!-- FUTURE HUB -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='orquesta.jpg') }}"
                         alt="Proyecto Future Hub">

                </div>


                <div class="contenido-card">

                    <h2>Orquesta de Apps</h2>
                    <p class="anio-proyecto">2024-2025</p>


                    <h3>Desarrolladores y Profesor a cargo:</h3>

                    <p class="desarrolladores">
                        Promo 2025 · Promo 2026
                        <br>
                        Tomas Bianchi.
                    </p>


                    <p class="descripcion">

                     En conjunto con todo el curso, se realizó un proyecto musical colaborativo utilizando la aplicación **“Perfect Piano”**. Cada estudiante interpretó diferentes voces y melodías de una canción de la película *Interestelar*, logrando formar la melodía completa con la coordinación del profesor.

El proyecto también contó con la participación de estudiantes de Río Tercero y fue grabado para su difusión. La presentación tuvo una gran repercusión, apareciendo en medios como **El Doce** y **Telefe**, e incluso recibió un “me gusta” de **Bizarrap**. Posteriormente, el proyecto fue presentado nuevamente en Córdoba ante un público más numeroso.

                    </p>

                </div>

            </article>



            <!-- PROYECTO COOPERATIVA -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='ONU.jpg') }}"
                         alt="Proyecto Cooperativa">

                </div>


                <div class="contenido-card">

                    <h2>Modelo de Naciones Unidas</h2>
  <p class="anio-proyecto">2025- 2026</p>

                    <h3>Desarrolladores y Profesor a cargo:</h3>
                  

                    <p class="desarrolladores">
                        Estudiantes desde 4to año a 6to año que deseaban participar del proyecto.
                        <br>
                        Daniela Pistelli.
                    </p>


                    <p class="descripcion">
                    Esta actividad se basa en preparse para representar un pais como delegados segun el area 
                    que se hay elegido. Conciste en estudiar, entender y preparar un discurso para leer frente 
                    a personas de otros colegios, una mesa de presidencia, evaluadores y demás. 
                    En esta ocacion depende de donde se hacen estos encuentros. Por lo general es en Hernando y al
                     ser distintos modelos se hacen en otros lados tambien, como: Tancacha y Rio Tercero.

                    </p>

                </div>

            </article>



            <!-- CUARTA CARD -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='mascota.jpg') }}"
                         alt="Proyecto">

                </div>


                <div class="contenido-card">

                    <h2>Mascota Escolar</h2>
                    <p class="anio-proyecto">2026</p>


                    <h3>Desarrolladores y Profesor a cargo:</h3>

                    <p class="desarrolladores">
                        Nombre 1 · Nombre 2 · Nombre 3
                    </p>


                    <p class="descripcion">

                        Breve descripción del proyecto y del problema
                        que busca resolver mediante el desarrollo de
                        un sistema informático.

                    </p>

                </div>

            </article>


 <!-- PROYECTO COOPERATIVA -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='tacho.jpg') }}"
                         alt="Proyecto Cooperativa">

                </div>


                <div class="contenido-card">

                    <h2>Recicladores Inteligentes</h2>
  <p class="anio-proyecto">2025</p>

                    <h3>Desarrolladores y Profesor a cargo:</h3>
                  

                    <p class="desarrolladores">
                        Promo 26.
                        <br>
                        Paola Lombardi, Angel Grimas y Nieves Villalba.
                    </p>


                    <p class="descripcion">

                        Este sistema busca facilitar la organización y
                        administración de una cooperativa, permitiendo
                        gestionar información, actividades y recursos
                        de manera más eficiente.

                    </p>

                </div>

            </article>
             <!-- PROYECTO COOPERATIVA -->

            <article class="card-proyecto">

                <div class="imagen-proyecto">

                    <img src="{{ url_for('static', filename='img/cooperativa.jpg') }}"
                         alt="Proyecto Cooperativa">

                </div>


                <div class="contenido-card">

                    <h2>Proyecto Cooperativa</h2>
  <p class="anio-proyecto">2026</p>

                    <h3>Desarrolladores y Profesor a cargo:</h3>
                  

                    <p class="desarrolladores">
                        Nombre 1 · Nombre 2 · Nombre 3
                    </p>


                    <p class="descripcion">

                        Este sistema busca facilitar la organización y
                        administración de una cooperativa, permitiendo
                        gestionar información, actividades y recursos
                        de manera más eficiente.

                    </p>

                </div>

            </article>
        </section>

    </main>



    <!-- =========================
         FOOTER
    ========================== -->

    <footer>

        <p>
            © 2026 PROA Despeñaderos
        </p>

    </footer>


</body>

</html>